ul{ padding:0; list-style:none; margin: 0;}
label {font-size: 18px;line-height: 1.2;font-weight: 500;color: #000;margin-bottom:10px;}
input {border-radius: 0 !important;border: none !important;border-bottom: 1px solid #000 !important;height: 35px;padding: 10px 0 !important;}
.form-control:focus {color: #233358;background-color: #fff;border-color: #000 !important;outline: 0;box-shadow: none;}



/* -------------------------------- Home Page Start ----------------------------------- */
.content-container{ padding:20px 0;}
.nav.nav-tabs {background: var(--main-color-one); padding: 10px 10px 0px 10px; margin-bottom:0 !important;}
.tab-content {background: #fff !important;border: none !important;}
.nav-link+.nav-link {margin-left: 20px;}
.nav-tabs .nav-link {border-radius: 0;font-size: 18px;line-height: 1.2;font-weight: 500 !important;border: none;padding: 15px 40px;color: #fff;font-family: system-ui;}
.user-info-icon {width: 24px;height: 24px;display: flex;align-items: center;justify-content: center;position: absolute;left: 0;top: 80%;transform: translateY(-80%);}
.user-info-icon i {font-size: 20px;}
.user-info-list {position: relative;padding-left: 40px;}
.form-select {border-radius: 0;border: none;border-bottom: 1px solid #000;padding-left: 0;color:#000;}
.form-select:focus{ box-shadow:none; border-color:#000;}
.user-info-box {padding: 20px 0;border-top: 1px solid #000;border-bottom: 1px solid #000;}
.user-data-item {display: flex;align-items: center;justify-content: space-between;border-bottom: 1px solid #000;padding:10px 0;}
.udi-left {padding: 10px;width: 150px;height: 100%;}
.udi-middle {width: calc(100% - 200px); flex-wrap: wrap; height: 100%;padding: 10px;border-right: 1px solid #000;display: flex;align-items: center;justify-content: flex-start;border-left: 1px solid #000;}
.udi-right {width: 100px;height: 100%;padding: 10px;}
.udi-ml-text h4 {font-size: 17px;line-height: 1.2;font-weight: 500;font-family: system-ui;}
.udi-ml-text {text-align: center; font-weight: 600; color: #000;}
.udi-r-text {text-align: center;font-weight: 500;color: #000;font-family: system-ui;}
.icon-container {position: absolute;right: 0;}
#accordion-1{position: relative;width: 100%;}
.user-close-icon {width: 20px;height: 20px;position: absolute;top: 0;right: 0;}
.user-close-icon i {font-size: 20px;}
#accordion-1 .head{color: #563e6e;padding: 0;cursor: pointer;transition: 0.2s ease;display: flex;justify-content: space-between;align-items: center;width: fit-content;position: relative;padding: 0 30px;}
#accordion-1 .arrow{color: #563e6e;font-size: 20px;transition: 0.25s ease;transform: rotate(0deg);position: absolute;right: 0;top: 3px;}
#accordion-1 .head:hover .arrow{opacity: 1;}
#accordion-1 .arrow-animate{transform: rotate(-180deg);opacity: 1;}
#accordion-1 .content{display: none;padding: 20px 0;color: #333333;}
.udi-btn {background: #233358;color: #fff;font-weight: 500;padding: 10px 30px;}
.udi-ml-text>* {color: #000;}
.udi-m-left {width: 120px;}
.udi-m-right {width: calc(100% - 120px);align-self: baseline;padding-left: 20px;}
#accordion-1 .head h2 {font-size: 18px;font-weight: 500;line-height: 1.2;font-family: system-ui;}
.user-inco-left {width: 50%;}
.user-inco-content {display: flex;}
.user-inco-right { width: 50%;}
.user-inco-item {font-size: 14px;line-height: 1.2;padding: 8px 0;font-weight: 600;width: fit-content;}
.user-inco-item:hover {border-bottom: 2px solid #000;}
.user-inco-item span {color: #7d7c7c;}
#accordion-1 .arrow-2 {left: 3px;top: 3px; position: absolute;font-size: 17px;}
#accordion-1 .head p {color: #000;}
.calendar-accordion{display: flex;padding: 30px 0;border-bottom: 1px solid #000;flex-direction: column;justify-content: center;}
.calendar-accordion .head{ margin:0 auto;}
.calendar {max-width: 100%;padding: 20px;box-sizing: border-box;background: #ffffff;border-radius: 0;border-top: 1px solid #000;border-bottom: 1px solid #000;}
.calendar .calendar-dates,.calendar .calendar-day-name {display: grid;grid-template-columns: repeat(7, 1fr);grid-gap: 8px;}
.calendar .calendar-dates-day {font-family: "Manrope", sans-serif;font-size: 13px;border: 1px solid #7b7b7b;padding: 4px;box-sizing: border-box;background: #f8f8f8;border-radius: 0;color: #333;}
.calendar .calendar-dates-day-empty {background: none;border: 0;color: #dcdcdc;min-height: 28px;}
.calendar .calendar-day-name div {text-align: center;margin-bottom: 12px;font-size: 13px;font-weight: 700;}
.calendar .calendar-title {padding-bottom: 16px;text-align: center;font-weight: 500;display: flex;justify-content: space-between;border-bottom: 1px solid #0e0e0e;margin-bottom: 12px;}
.calendar .calendar-dates-day.today-date {background: #555;color: #fff;}
.calendar #prevMonth,
.calendar #nextMonth,
.calendar #today {padding: 2px 6px;box-sizing: border-box;font-family: "Manrope", sans-serif;font-size: 20px;line-height: 20px;border: 1px solid #e0e0e0;border-radius: 0;cursor: pointer;color: #333;}
.calendar #today {font-size: 13px;}
.calendar .calendar-title-text {display: flex;align-items: center;font-size: 14px;font-weight: 700;}
.calendar .calendar-button-group {display: flex;align-items: center;gap: 8px;}
/* -------------------------------- Home Page End ----------------------------------- */
.book-content-box {border-top: 1px solid #000;}
.book-left {width: 50%;border-right: 1px solid #000;padding: 20px 20px 0px 0px;}
.book-right {width: 50%;padding: 20px 0px 0px 20px;}
.bl-head {padding: 20px 0;border-bottom: 1px solid #000;}
.bl-title i {font-size: 20px;color: #000;position: absolute;left: 0;top: 3px;}
.bl-title {padding-left: 30px;position: relative;color: #000;font-size: 16px;font-weight: 500;}
.bl-title span {color: #000;font-weight: 600;margin-right: 10px;}
.bl-body {padding: 20px 0;display: flex;}
.blb-left {width: 50%;}
.blb-right {width: 50%;}
.blb-info h4 {font-size: 18px;font-weight: 400;line-height: 1.2;margin-bottom: 5px;}
.blb-info p {font-size: 16px;line-height: 1.2;font-weight: 400;}
.blb-info i {font-size: 18px;position: absolute;left: 0;top: 3px;}
.blb-info {padding-left: 29px;position: relative;}
.blb-info+.blb-info {margin-top: 20px;}
.user-info-list label {font-size: 16px;margin-bottom: 0;}
.blb-right .user-info-list+.user-info-list {margin-top: 25px;}
.book-heading {padding: 10px 0;display: flex;align-items: center;justify-content: space-between;}
.book-heading-title h4 {font-size: 18px;line-height: 1.2;font-weight: 500;font-family: system-ui;}
.userd-heading {background: var(--main-color-one);color: #000;text-align: center;}
.userd-heading h4 {color: #fff;font-size: 18px;line-height: 1.2;padding: 10px;}
.userd-heading h4 span {font-weight: 500;}
.userd-name-box {padding: 15px 0 15px 70px;position: relative;}
.userd-name-box.tbd-tag{ padding-bottom:30px;}
.userd-name-box {padding: 15px 0 15px 70px;position: relative;border-bottom: 1px solid #000;margin-top: 15px;}
.userd-img {width: 50px;height: 50px;border-radius: 50%;background: var(--bs-gray-400);position: absolute;left: 0;top: 0;overflow: hidden;}
.userd-name {font-size: 17px;font-weight: 500;line-height: 1.2;color: #000;}
.userd-img img {width: 100%;height: 100%;object-fit: cover;}
.userd-accordian{padding-top: 15px;}
.userd-tab-box {padding: 15px 0;border-bottom: 1px solid #000;}
.userd-tab-link-list {display: flex;justify-content: space-around;}
.userd-tab-link-item {position: relative;padding: 0px 24px;font-size: 16px;font-weight: 500;text-transform: uppercase;color: #000;}
.userd-tab-link-item i {width: 20px;height: 20px;position: absolute;top: 5px;left: 0;}
.userd-message-box {padding-top: 15px;}
.userd-message-box label {font-size: 16px;line-height: 1.2;font-weight: 500;padding-left: 30px;position: relative;margin-bottom: 15px;}
.userd-message-box label i {width: 20px;height: 20px;position: absolute;left: 0;}
.userd-message-box textarea {border-radius: 0;border-color: #000;resize: none;min-height: 150px;}
.message-btn-box {margin-top: 10px;}
.message-btn {width: 100%;border: none;padding: 10px;color: #fff;background: var(--main-color-one);text-transform: uppercase;}
.user-info-list+.user-info-list {margin-top: 25px;}
/* -------------------------------------- confirm-Page ---------------------------------------*/
.confirm-lower {display: flex;flex-wrap: wrap;}
.confirm-lower-left {width: 50%;padding: 30px;border-right: 1px solid #000;}
.confirm-lower-right {width: 50%;padding: 30px;}
.confirm-upper {width: 100%;height: 100%;}
.confirm-content { width: 100%;height: 100%;background: var(--main-color-one);color: #fff;text-align: center;opacity: 1;padding: 20px;}
.confirm-content h4 {font-size: 34px;text-align: center;color: #fff;margin-bottom: 10px;font-weight: 500;}
.confirm-content p {font-size: 24px;color: #fff;}
.cc-img {margin: 0 auto;width: 70px;height: 70px;border-radius: 50%;margin-bottom: 10px;}
.cc-img i {font-size: 60px;}
.confirm-lower {border-top: 0;padding: 0;}
.clr-item+.clr-item {margin-top: 25px;}
.clr-item {font-size: 18px;line-height: 1.2;font-weight: 500;text-transform: uppercase;padding-left: 35px;position: relative;color: #000;}
.clr-item i {position: absolute;left: 0;font-size: 20px;}
.cll-heading {font-size: 20px;line-height: 1.2;margin-bottom: 10px;font-weight: 500;color: #000;}
.cll-item h3 {font-size: 18px;line-height: 1.2;font-weight: 400;font-family: system-ui;}
.cll-item p {font-weight: 400;font-size: 18px;color: #000;font-family: system-ui;}
.cll-item+.cll-item {margin-top: 25px;}
.cllh-data h4 {font-size: 18px;line-height: 1.2;font-weight: 500;font-family: system-ui;margin-bottom: 5px;}
.cllh-data p {font-weight: 400;font-size: 18px;color: #000;font-family: system-ui;}
.cllh-data {margin-top: 15px;}
.cll-telk .dllh-data { padding: 0 20px;}
.cll-telk .cllh-data {padding: 0;width: 50%;margin-top: 36px;}
/*----------------------------- Model Start ----------------------- */
.model-content-box {padding: 20px 20px;background: #efefef;max-width: 500px;margin: 0 auto;}
/* .modal-content{display: flex;align-items: center;justify-content: center;background-color: #747171c7;} */
.model-content-box {font-size: 24px;}
.model-content-box .m-head h2 {font-size: 20px;line-height: 1.2;font-weight: 500;margin-bottom: 0;font-family: system-ui;color: #000;}
.m-para {padding: 20px 0;border-bottom: 1px solid #000;font-size: 18px;font-weight: 500;font-family: system-ui;line-height: 1.2;}
.mh-close{ width:20px; height:20px; border:none; background:none; padding:0;}
.mh-close i {font-size:20px;}
.m-para p {color: #000;}
.m-btn {padding: 10px 0;}
.m-btn button {border: none;background: none;font-size: 16px;font-weight: 500;line-height: 1.2;font-family: system-ui;margin: 0;padding:10px 15px;}
.m-btn button:hover{ background: rgb(88, 86, 86); color: #fff;}
.m-btn button+button {margin-left: 10px;}
/*-----------------------------  Add Guest ----------------------- */
.add-memeber-head {padding: 20px;background: var(--main-color-one);margin-bottom: 20px;}
.add-memeber-head h2 {font-size: 28px;color: #fff;line-height: 1.2;font-weight: 400;font-family: system-ui;position: relative;padding-left: 39px;}
.add-memeber-head h2 i {color: #fff !important;font-size: 24px;left: 0;position: absolute;top: 6px;}
.add-member-body .form-group+.form-group{margin-top:20px;}
/*-----------------------------  Add Member ----------------------- */
.search-input-box {padding: 20px 0;border-top: 1px solid #000;border-bottom: 1px solid #000;width: 100%;}
.search-input-box .form-group{width: 50%;margin: 0 auto;}
.search-timer-box {padding: 20px 0;align-items: center;justify-content: center;display: flex;margin-top: 20px;}
.search-member-item {display: flex;align-items: center;justify-content: space-between;padding: 15px 15px;border-bottom: 1px solid #000;position: relative;}
.smi-img {width: 60px;height: 60px;background: #9b9a9a;border-radius: 50%;position: absolute;overflow: hidden;}
.smi-img img {width: 100%;height: 100%;object-fit: cover;}
.smi-name {font-size: 18px;line-height: 1.2;font-weight: 600;font-family: system-ui;padding-left: 90px;margin: 19px 0;color: #000;}
.smi-close-btn {width: 20px;height: 20px;display: flex;align-items: center;justify-content: center;padding: 10px;}
.smi-close-btn i {font-size: 20px;}
.search-input-list-box {margin-top: 30px;}
.search-input-list-box h4 {font-size: 30px;line-height: 1.2;font-family: system-ui;margin-bottom: 20px;font-weight: 400;}
/*----------------------------- User-booking ----------------------- */
.user-booking-box {padding: 30px 0;border-bottom: 1px solid #000;position: relative;}
.user-upper {position: relative;padding-left: 40px;}
.user-upper h4 {font-size: 24px;line-height: 1.2;font-family: system-ui;margin-bottom: 10px;font-weight: 400;}
.user-upper p {font-size: 20px;line-height: 1.2;font-weight: 400;}
.user-u-icon {width: 20px;height: 20px;position: absolute;left: 0;top: 4px;}
.user-u-icon i {font-size: 20px;}
.user-middle {display: flex;flex-wrap: wrap;padding-left: 40px;margin-top: 20px;}
.user-m-data+.user-m-data {margin-left: 20px;}
.user-m-data h4 {font-size: 24px;}
.user-upper p {font-size: 20px;line-height: 1.2;font-weight: 400;font-family: system-ui;}
.user-m-data h4 {font-size: 22px;line-height: 1.2;font-weight: 500;font-family: system-ui;}
.user-m-data p {font-size: 18px;font-weight: 400;}
.user-lower {padding-left: 40px;margin-top: 20px;}
.user-lower p {font-size: 18px;line-height: 1.2;font-weight: 500;}
.user-inco {font-size: 20px;line-height: 1.2;font-weight: 500;margin-top: 20px;color: #000;}
.user-inco+.user-inco {margin-top: 10px;}
.user-inco span {font-size: 18px;color: #999999;}
.ubb-icon { width: 30px; height: 30px; position: absolute; top: 50%; right: 0; transform: translateY(-50%);}
.ubb-icon i {font-size: 30px;}


.mng-heading {padding: 15px 0;border-bottom: 1px solid #000;}
.mng-heading h4 {font-size: 20px;line-height: 1.2;font-weight: 400;}
.mng-group-box {display: flex;flex-wrap: wrap;}
.mng-group-left {width: 50%;border-right: 1px solid #000;}
.mng-group-right {width: 50%;}
.mng-g-heading {display: flex;justify-content: space-between;padding: 10px 10px;align-items: center;background: var(--bs-white);box-shadow: rgba(0, 0, 0, 0.1) 2px 5px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;}
.mng-g-heading h5 {font-size: 20px;line-height: 1.2;font-weight: 400;}
.mng-gl-toggle .btn-group .dropdown-toggle {border: none;background: var(--main-color-one);padding: 10px 25px;font-weight: 500;color: #fff;}
.mng-gl-item {width: 100%;}
.mng-gl-box {width: 100%;height: 100%;display: flex;align-items: center;position: relative;padding: 21px 40px 20.9px 20px;border-bottom: 1px solid #000;}
.mng-gl-img {width: 60px;height: 60px;border-radius: 50%;overflow: hidden;}
.mng-gl-img img {width: 100%;height: 100%;object-fit: cover;}
.mng-gl-text h1 {font-size: 20px;line-height: 1.2;font-weight: 400;border-bottom: 1px solid #000;}
.mng-gl-text p {font-size: 14px;line-height: 1.2;font-weight: 400;margin-top: 5px;}
.mng-close-btn {width: 20px;height: 20px;position: absolute;right: 5px;top: 50%;transform: translateY(-50%);}
.mng-close-btn i {font-size: 20px;}
.dropdown-toggle::after {display: none;}
.mng-gl-text {padding-left: 20px;}
.mng-ggl-box {padding: 20px 40px 20px 20px;display: flex;align-items: center;position: relative;border-bottom: 1px solid #000;}
.mng-ggl-img {position: relative;width: 100px;height: 100px;}
.mng-img {width: 45px;height: 45px;border-radius: 50%;overflow: hidden;background: #fff;border: 2px solid var(--main-color-one);margin: 4px;font-size: 20px;text-align: center;justify-content: center;display: flex;padding: 0px;color: #000;align-items: center;}
.mng-img img { width: 100%; height: 100%; object-fit: cover;}
.mng-img.mng-img-1 {position: absolute;top: 0;right: 0;}
.mng-img.mng-img-2 {position: absolute;bottom: 0;left: 0;}
.mng-img.mng-img-3 {position: absolute;right: 0;bottom: 0;}
.mng-img.mng-img-4 {position: absolute;padding-top: 0; left: 0;}
.mng-ggl-text {padding-left: 20px;width: calc(100% - 100px);}
.mng-ggl-text h4 {font-size: 20px;line-height: 1.2;font-weight: 400;font-family: system-ui;margin-bottom: 10px;}
.mng-ggl-text-item {font-size: 16px;line-height: 1.2;font-weight: 400;}
.mng-ggl-text-item+.mng-ggl-text-item {margin-top: 10px;}
.mng-ggl-close-btn {width: 20px;height: 20px;position: absolute;right: 0;}
.mng-ggl-close-btn i {font-size: 20px;right: 0;top: 50%;transform: translate(-50%);}
.mng-gl-box:hover {background: #e5f1f3;}
.mng-ggl-box:hover { background: #e5f1f3;}
.mng-data {display: flex;align-items: center;}
.search-member-item:hover {background: #e5f1f3;}
.smi-box {width: 100%;height: 100%;}
.search-input-box .form-group + .form-group {margin-top: 20px;}
.booking-member-box {padding: 20px 0;}
.bmb-text {display: flex;flex-direction: column;justify-content: center;align-items: center;}
.bmb-text h4 { font-size: 28px; line-height: 1.2; font-weight: 400;}
.bmb-btn-box .btn-group button{padding: 10px 15px;background: #27282b;color: #fff;font-weight: 400;font-size: 18px;letter-spacing: 0.1rem; border:none;}
.bmb-btn-box {margin: 20px 0;}
.bmb-text h5 {font-size: 28px;line-height: 1.2;font-weight: 400;text-align: center;}
.bmb-arrow-box {width: 40px;height: 40px;margin: 20px 0;}
.bmb-arrow-box i {font-size: 40px;}


.header-btn {background: #1b2857;color: #fff;width: 100%;}
.heading h4 {font-size: 34px;font-weight: 500;line-height: 1.2;margin-bottom: 0;}
.heading {margin-bottom: 20px;padding-bottom: 20px;border-bottom: 1px solid #000;}
.table{width:1300px;}
.action-btn{color: #fff;background: green;border-radius: 0;padding: 2px 24px;}
.view-link{ color: green; font-weight:500;}
th {padding: 15px 0 !important; font-size: 16px; font-weight: 600; text-align: center;}
td {font-size: 14px;padding: 15px 0 !important; text-align: center;}
.bsb-lower {padding: 20px;}
.bsb-lower h4 {font-size: 24px;font-weight: 500;margin-bottom: 5px;color: #f55555;}
.bsb-lower {font-size: 16px;font-weight: 400;background: #fbf99a54;}
.bsb-item {font-size: 16px;line-height: 1.4;font-weight: 500;position: relative;padding-left: 25px;}
.bsb-item+.bsb-item {margin-top: 8px;}
.bsb-item:after {width: 7px;height: 7px;background: #000;border-radius: 50%;position: absolute;top: 8px;left: 0;content: '';}
.booking-btn {margin-top: 40px;}
.booking-btn .btn {background: green;color: #fff;}
.booking-summary-box {padding: 20px;background: #fff;}
.table.table-2 {width: 390px;}


.search-item {width: 20%;min-height: 150px;}
.search-list {display: flex;flex-wrap: wrap;}
.search-box.bb-green{border-bottom:10px solid  #509a49;}
.search-box {width: 100%;height: 100%;padding: 15px;display: flex;flex-direction: column;align-items: center;justify-content: center;background: #3e9036e6;border-bottom: 10px solid #fff;} 
.sh {font-size: 20px;font-weight: 500;color: #fff;text-transform: uppercase;}
.search-box:hover {background: #198754;}
.search-box.bb-green:hover {background: #198754; border-bottom: 10px solid #198754;}
.ss {text-transform: uppercase;font-size: 18px;font-weight: 400;color: #fff;margin-top: 10px;border-bottom: 0 !important;}
.ss input {background: no-repeat;border: none;filter: brightness(0) invert(1);width: 150px;border-bottom: 0 !important;}

.search-item+.search-item{box-shadow: rgba(0, 0, 0, 0.15) -5px -1px 3.2px;}
.policy-content-left .nav-link {border-radius: 0 !important;border: none !important;background-color: none !important;}
div#nav-tab {margin-top: 30px;border-bottom: none;}
.policy-content-left .nav-link {padding: 8px 30px;color: #fff;background: #747070 !important;border-radius: 20px !important; margin-bottom:20px;}
.policy-content-left .nav-link+.nav-link {margin-left: 10px;}
.policy-content-left .nav-link.active {background: #201e2e !important;color: #fff;}
.ttl .table{width: 620px !important;background: #fff; margin-top: 30px;}



.timeline-container .timeline-list {text-align: center;-ms-flex-wrap: nowrap !important;flex-wrap: nowrap !important;scrollbar-width: none;-ms-overflow-style: none;
    white-space: nowrap;overflow-x: auto;overflow-y: hidden;height: 60px;}
.timeline-container .timeline-list .active {background-color: #293f73;border: none;}
.timeline-container .timeline-list .active:hover {background-color: #293f73;}
.timeline-container .timeline-list .active .timeline-date {color: #fff;}
.timeline-container .timeline-list::-webkit-scrollbar {width: 0;height: 0;}
.timeline-container .timeline-item {display: inline-block;float: none;height: 54px; font-size: 0.875rem;text-transform: uppercase;background-color: #fff;
border-style: solid;border-color: #e2e3e5;border-top-width: 1px;border-right-width: 0;border-bottom-width: 1px;border-left-width: 1px;padding-top: 5px;padding-left: 0;padding-right: 0;}
.timeline-container .timeline-item a:hover,
.timeline-container .timeline-item a:visited,
.timeline-container .timeline-item a:link,
.timeline-container .timeline-item a:active {text-decoration: none;color: #293f73;}
.timeline-container .timeline-item:hover {background-color: #e2e3e5;}
.timeline-container .timeline-item:active {background-color: #e2e3e5;}
.timeline-container .prev-btn,.timeline-container .next-btn {    text-align: center;color: #fff;cursor: pointer;font-size: 28px;background-color: #233358;height: 54px;display: flex;align-items: center;justify-content: center;padding: 10px;}
.timeline-container .prev-btn:hover,.timeline-container .next-btn:hover {background-color: #233358ed;}
  

.policy-content-left {width: 50%; padding: 0 20px;}
.policy-content-right { width: 50%; padding: 0 20px;}
.policy-content-box {width: calc(100% + 40px); margin-left:-20px; height: 100%;display: flex;flex-wrap: wrap;}
.form-group+.form-group {margin-top: 20px;}
.form-control:focus{ box-shadow:none; border:none;}
.table-bg-orange {background: #d68748;color: #fff;}
.table-bg-blue {background: #4588b2;color: #fff;}
.ttl .table .table-bg-all{background: #dde0d6;}



/*----------------------------- Responsive-Css Start Here ----------------------- */
@media (max-width: 1199.98px){



}


@media (max-width: 991.98px){
    label{ font-size:16px;}
    .user-info-list label { font-size: 14px; margin-bottom: 0;}

    .nav-tabs .nav-link { width: 50%; margin: 0;}
    .udi-m-left{width:100%;}
    .udi-m-right{width:100%; padding-left:0;}
    .udi-ml-text {width: fit-content;margin-bottom: 19px;}
    .user-inco-left{ width:30%;}
    .user-inco-right{width:70%;padding-left: 20px;}
    .book-left {width: 100%;border-right: 0;padding: 0;}
    .book-right {width: 100%;padding: 0;}
    .confirm-content h4 {font-size: 28px;}
    .confirm-content p {font-size: 20px;}
    .cc-img {width: 50px;height: 50px;}
    .cc-img i {font-size: 50px;}
    .add-memeber-head h2 {font-size: 24px;}
    .add-memeber-head h2 i{font-size: 20px;}

    .user-upper h4 { font-size: 20px; margin-bottom: 5px;}
    .user-upper p { font-size: 18px;}
    .user-m-data p {font-size: 16px;}
    .user-m-data h4 {font-size: 18px;}
    .user-lower p {font-size: 16px;}
    .user-inco {font-size: 18px;margin-top: 15px;}
    .user-inco span {font-size: 16px;}
    .ubb-icon {width: 20px;height: 20px;}
    .ubb-icon i {font-size: 20px;}
    .user-booking-box{ padding:20px 0;}

    .mng-ggl-text h4 {font-size: 18px;}
    .mng-ggl-text-item {font-size: 14px;}
    .mng-ggl-text-item+.mng-ggl-text-item {margin-top: 8px;}
    .mng-img {width: 40px;height: 40px;}
    .mng-ggl-img {width: 92px;height: 92px;}
    .mng-ggl-text {width: calc(100% - 92px);}
    .mng-gl-text h1 {font-size: 18px;}
    .mng-gl-img {width: 50px;height: 50px;}
    .mng-g-heading h5 {font-size: 18px;}
    .mng-gl-toggle .btn-group .dropdown-toggle {padding: 5px 20px;font-size: 14px;}
    .mng-heading h4 {font-size: 18px;}
    .mng-group-left {width: 100%;border-right: 0;}
    .mng-group-right {width: 100%;margin-top: 40px;}


    .bmb-text h4 {font-size: 22px;}
    .bmb-btn-box {margin: 15px 0;}
    .bmb-btn-box .btn-group button {font-size: 16px;}
    .bmb-arrow-box {margin: 10px 0;width: 30px;height: 30px;display: flex;align-items: center;justify-content: center;}
    .bmb-arrow-box i {font-size: 25px;}
    .bmb-text h5 { font-size: 24px;}

    .heading h4 {font-size:28px;}
    .search-item {width:25%;}
    .sh { font-size: 18px;}
    .ss {font-size: 16px;}  
    .ttl .table{ width:100% !important;}
    
    .policy-content-box {width:100%; margin: 0;}
    .policy-content-left{width:100%; padding:0;}
    .policy-content-right { width: 100%; padding: 0;}

}



@media (max-width: 767.98px){

    .nav-tabs .nav-link {width: 100%;}
    .user-info-list {margin-bottom: 20px;}
    .udi-left{width:100px;}
    .udi-btn{padding:10px;}
    .udi-middle {width:calc(100% - 150px);}
    .nav-tabs .nav-link {padding: 10px 15px;font-size: 16px;}
    .user-inco-item {font-size: 16px;}
    #accordion-1 .head h2 {font-size: 16px;}
    #accordion-1 .arrow {top: -2px;}
    .book-heading-title h4 {font-size: 16px;}
    .bl-title {font-size: 14px;}
    .search-input-list-box h4 {font-size: 24px;margin-bottom: 15px;}
    .smi-img {width: 50px;height: 50px;}
    .smi-name {font-size: 16px;padding-left: 70px;}
    .userd-tab-link-item {font-size: 14px;padding: 0 20px;}
    .confirm-lower-right {width: 100%;padding: 30px 0;}
    .confirm-lower-left {width: 100%;padding: 30px 0;border-right: 0;border-bottom: 1px solid #000;}
    .confirm-content h4 {font-size: 24px;}
    .confirm-content p {font-size: 18px;}
    .search-input-box .form-group{ width:100%;}
    .add-memeber-head h2 { font-size: 20px;}
    .add-memeber-head h2 i{font-size: 18px; top:4px;}
    .user-middle {padding-left: 0;grid-gap: 15px;padding-right: 30px;}
    .user-lower {padding-left: 0;padding-right: 30px;}
    .user-m-data+.user-m-data {margin:0;}

    .bmb-btn-box .btn-group button {font-size: 14px;}
    .bmb-text h4{font-size:20px;}
    .bmb-text h5{font-size:20px;}

    .heading h4 {font-size:24px;}
    .search-item {width:33.33%;}
    .sh { font-size: 16px;}
    .ss {font-size: 14px;} 
    

}


@media (max-width: 575.98px){

    .search-item {width:50%;}

}

textarea {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #000;
    padding-left: 0;
    color: #000;
}











