.list-header {
    padding-left: 2% !important;
    padding-top: 3% !important;
}

.list-body {
    padding: 1% !important;
}

.dataTables_filter {
    padding-right: 1% !important;
}

.dataTables_info {
    font-size: 12px !important;
}

#example_paginate {
    font-size: 11px !important;
}

.tab {
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 50%;
    text-align: center;
    border-bottom: solid 2px lightgrey;
}

/* Create an active/current tablink class */
.tab button.active {
      border-bottom: 2px solid #13b9f0;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper input {
    padding-right: 40px; /* Space for the eye icon */
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #333333a6;
}